@font-face {
  font-family: 'GT-Eesti';
  src: url("../fonts/GT-Eesti-Pro-Text-Light.woff2") format("woff2");
  src: url("../fonts/GT-Eesti-Pro-Text-Light.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GT-Eesti';
  src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff2") format("woff2");
  src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GT-Eesti';
  src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff2") format("woff2");
  src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'GT-Eesti';
  src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff2") format("woff2");
  src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@-webkit-keyframes nav-animation {
  0% {
    top: -100%;
  }
  100% {
    top: 0px;
  }
}

@keyframes nav-animation {
  0% {
    top: -100%;
  }
  100% {
    top: 0px;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

ol, ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #000;
  background: #f4f6f8;
  overflow-x: hidden;
  min-width: 320px;
  font-weight: 500;
}

input, textarea, select {
  font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

a {
  color: #000;
}

a:hover {
  opacity: .8;
}

p {
  line-height: 1.6em;
  font-size: 16px;
  font-family: "GT-Eesti", Arial;
  font-weight: 500;
  color: #000;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

::-webkit-input-placeholder {
  color: #9B9B9B;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #9B9B9B;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #9B9B9B;
  opacity: 1;
}

::placeholder {
  color: #9B9B9B;
  opacity: 1;
}

::-moz-selection {
  background: #7f71ff;
  color: #fff;
}

::selection {
  background: #7f71ff;
  color: #fff;
}

section#spotlight {
  padding: 90px 0;
}

section#spotlight div.wrapper ul.articles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px;
  gap: 25px;
  grid-row-gap: 25px;
  grid-column-gap: 25px;
  margin: 0 auto;
}

section#spotlight div.wrapper ul.articles li.article {
  margin: 0 auto;
  background: #fff;
  border: 1px solid #f0f8ff;
  border-radius: 10px;
  -webkit-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

section#spotlight div.wrapper ul.articles li.article:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

section#spotlight div.wrapper ul.articles li.article div.top {
  width: 100%;
  position: relative;
}

section#spotlight div.wrapper ul.articles li.article div.top div.img_container {
  width: 100%;
  min-height: 185px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

section#spotlight div.wrapper ul.articles li.article div.top div.img_container img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

section#spotlight div.wrapper ul.articles li.article div.top div.author {
  position: absolute;
  top: 10px;
  left: 10px;
}

section#spotlight div.wrapper ul.articles li.article div.top div.author img {
  display: block;
  width: 35px;
  height: 35px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border: 2px solid #fff;
  border-radius: 50%;
  overflow: hidden;
}

section#spotlight div.wrapper ul.articles li.article div.top div.author span {
  display: none;
}

section#spotlight div.wrapper ul.articles li.article div.info {
  padding: 25px 16px;
}

section#spotlight div.wrapper ul.articles li.article div.info ul.tags {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

section#spotlight div.wrapper ul.articles li.article div.info ul.tags li.tag {
  font-size: .875rem;
  letter-spacing: .2px;
  line-height: 1.3;
  font-weight: 600;
  color: #133467;
  margin-right: 10px;
}

section#spotlight div.wrapper ul.articles li.article div.info ul.tags li.tag:last-child {
  margin-right: 0;
}

section#spotlight div.wrapper ul.articles li.article div.info div.content {
  cursor: pointer;
  overflow: hidden;
}

section#spotlight div.wrapper ul.articles li.article div.info div.content h3 {
  color: #333;
  letter-spacing: .4px;
  line-height: 1.3;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 53px;
}

section#spotlight div.wrapper ul.articles li.article div.info div.content div.time_stamp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: .2px;
  font-size: .875rem;
}

section#spotlight div.wrapper ul.articles li.article div.info div.content div.time_stamp span {
  display: block;
  color: #333;
  letter-spacing: .2px;
  font-size: .875rem;
  margin-right: 5px;
}

section#spotlight div.wrapper ul.articles li.article div.info div.content div.time_stamp span:last-child {
  margin-right: 0;
}

@media all and (max-width: 980px) {
  section#spotlight div.wrapper ul.articles {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 500px) {
  section#spotlight div.wrapper ul.articles {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=grid.css.map */