@import "font";
@import "keyframes";

* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	box-sizing: border-box;
    transition: all 0.2s linear;
}

ol, ul {
	list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #000;
    background: #f4f6f8;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
}

input,textarea,select{
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-weight: 500;
}

a {
	color: #000;
    &:hover {
        opacity: .8;
    }
}

p {
	line-height:1.6em;
	font-size: 16px;
	font-family: "GT-Eesti", Arial;
	font-weight: 500;
	color: #000;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1200px;
}
.flex-wrapper {
	display: flex;
	justify-content: space-between;
}

::placeholder {
  color: #9B9B9B;
  opacity: 1;
}

::selection {
    background: #7f71ff;
    color: #fff;
}


section#spotlight {
    padding: 90px 0;
    div.wrapper {
        ul.articles {
            // display: grid;
            // grid-template-columns: 1fr 1fr 1fr;
            // grid-template-rows: auto;
            display: grid;
            // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            // grid-template-columns: repeat(auto-fit, minmax(10rem, 25rem));
            // grid-template-columns: repeat(auto-fit, minmax(270px ,1fr)); // kollam
            grid-template-columns: repeat(auto-fit, minmax(350px ,1fr));
            grid-gap: 20px;
            gap: 25px;
            grid-row-gap: 25px;
            grid-column-gap: 25px;
            margin: 0 auto;
            li.article {
                margin: 0 auto;
                background: #fff;
                border: 1px solid #f0f8ff;
                border-radius: 10px;
                transition: all .25s cubic-bezier(.02,.01,.47,1);
                &:hover {
                    transform: translateY(-5px);
                }
                div.top {
                    width: 100%;
                    position: relative;
                    div.img_container {
                        width: 100%;
                        min-height: 185px;
                        overflow: hidden;
                        border-radius: 10px 10px 0 0;
                        img {
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                    div.author {
                        position: absolute;
                        top: 10px;
                        left:10px;
                        img {
                            display: block;
                            width: 35px;
                            height: 35px;
                            object-fit: cover;
                            object-position: center;
                            border: 2px solid #fff;
                            border-radius: 50%;
                            overflow: hidden;
                        }
                        span {
                            display: none;
                        }
                    }
                }
                div.info {
                    padding: 25px 16px;
                    ul.tags {
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        margin-bottom: 20px;
                        li.tag {
                            font-size: .875rem;
                            letter-spacing: .2px;
                            line-height: 1.3;
                            font-weight: 600;
                            color: #133467;
                            margin-right: 10px;
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                    div.content {
                        cursor: pointer;
                        overflow: hidden;
                        h3 {
                            color: #333;
                            letter-spacing: .4px;
                            line-height: 1.3;
                            font-size: 1.25rem;
                            font-weight: 600;
                            margin-bottom: 53px;
                        }
                        div.time_stamp {
                            display: flex;
                            align-items: center;
                            letter-spacing: .2px;
                            font-size: .875rem;
                            span {
                                display: block;
                                color: #333;
                                letter-spacing: .2px;
                                font-size: .875rem;
                                margin-right: 5px;
                                &:last-child {
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media all and (max-width: 980px) {
    section#spotlight {
        div.wrapper {
            ul.articles {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}

@media all and (max-width: 500px) {
    section#spotlight {
        div.wrapper {
            ul.articles {
                grid-template-columns: 1fr;
            }
        }
    }
}