@-webkit-keyframes nav-animation {
  0% {
    top: -100%;
  }
  100% {
    top: 0px;
  }
}
@keyframes nav-animation {
  0% {
    top: -100%;
  }
  100% {
    top: 0px;
  }
}
/*# sourceMappingURL=keyframes.css.map */