@import "font";
@import "keyframes";

* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	box-sizing: border-box;
    transition: all 0.2s linear;
}

ol, ul {
	list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #000;
    background: #f4f6f8;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
}

input,textarea,select{
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-weight: 500;
}

a {
	color: #000;
    &:hover {
        opacity: .8;
    }
}

p {
	line-height:1.6em;
	font-size: 16px;
	font-family: "GT-Eesti", Arial;
	font-weight: 500;
	color: #000;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1200px;
}
.flex-wrapper {
	display: flex;
	justify-content: space-between;
}

::placeholder {
  color: #9B9B9B;
  opacity: 1;
}

::selection {
    background: #7f71ff;
    color: #fff;
}

/** Add Style **/ 
.ad {
    width: 40%;
    margin: 20px auto;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.06);
    a {
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
}

/** ====================== Styles ====================== **/ 
header {
    width: 100%;
    div.top {
        padding: 10px;
        background: #272727;
        h1.logo {
            width: 2rem;
            margin: 0 auto;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    display: inline-block;
                    width: 100%;
                    margin-right: 5px;
                }
                span {
                    display: inline-block;
                    font-size: 2rem;
                    font-weight: 700;
                    color: #fff;
                }
            }
        }
    }
    nav {
        background: #fff;
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px 20px;
            border-top: 1px solid rgba(0,0,0,0.05);
            border-bottom: 1px solid rgba(0,0,0,0.05);
            background: #fafafa;
            li {
                padding: 5px 15px;
                border-radius: 3px;
                a {
                    color: #838eab;
                    margin: 3px;
                    font-weight: 400;
                    letter-spacing: .5px;
                    user-select: none;
                }
                &:hover, &:first-child {
                    background: rgba(0,0,0,0.03);
                    color: #534f75;
                    transition: all linear .3s;
                }
            }
        }
        &.fix_nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            box-shadow: 2px 2px 30px rgba(0,0,0,0.15);
            z-index: 3;
            animation: nav-animation .3s;
            transition: all 0.2s linear;
        }
    }
}


section#blog {
    div.wrapper {
        ul.container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
            li.blog_post {
                padding: 20px;
                background: #fff;
                margin: 20px;
                box-shadow: 2px 2px 30px rgba(0,0,0,0.05);
                div.img_container {
                    position: relative;
                    width: 100%;
                    min-height: 185px;
                    overflow: hidden;
                    border-radius: 5px;
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                    span.category {
                        display: block;
                        color: #fff;
                        position: absolute;
                        left: 10px;
                        top: 10px;
                        padding: 2px 10px;
                        font-size: 0.9rem;
                        background: #6e5eff;
                    }
                }
                div.content {
                    h3 {
                        a {
                            display: block;
                            text-transform: capitalize;
                            font-weight: 600;
                            color: #20232b;
                            margin: 10px 0;
                            line-height: 25px;
                        }
                    }
                    div.post_info {
                        display: flex;
                        align-items: center;
                        span {
                            font-size: .8rem;
                            &.tag {
                                padding: 3px 6px;
                                color: #484f61;
                                font-weight: 600;
                                background-color: rgba(0,0,0,0.06);
                            }
                            &.time {
                                margin-left: 10px;
                                color: #db3838;
                                font-weight: 600;
                            }
                        }
                    }
                    div.author {
                        display: flex;
                        align-items: center;
                        margin-top: 10px;
                        img {
                            display: block;
                            width: 30px;
                            height: 30px;
                            object-fit: cover;
                            object-position: center;
                            border-radius: 50%;
                            overflow: hidden;
                        }
                        span.tool_tip {
                            color: #6e5eff;
                            font-size: 0.8rem;
                            letter-spacing: .5px;
                            font-weight: 600;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}


footer {
    padding: 20px;
    margin: 10px 0 0;
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgba(0,0,0,0.08);
    p {
        color: #131313;
        font-size: 0.9rem;
        letter-spacing: 1px;
    }
    ul {
        li {
            display: inline-block;
            a {
                padding: 0 10px;
                color: #20232b;
                &:hover {
                    color: #6e5eff;
                    transform: all linear .3s;
                }
            }
        }
    }
}

/** ====================== Media Queries ====================== **/ 
@media all and(max-width: 1280px) {
    section#blog {
        div.wrapper {
            ul.container {
                max-width: 1000px;
                li.blog_post {
                    div.img_container {
                        min-height: auto;
                        height: 170px;
                    }
                }
            }
        }
    }
}

@media all and(max-width: 980px) {
    .ad {
        width: 60%;
    }
    section#blog {
        div.wrapper {
            ul.container {
                max-width: 100%;
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}

@media all and(max-width: 640px) {
    header {
        //fontsixe update
        nav {
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 70px;
            position: relative;
            padding: 0 20px;
            ul {
                display: none;
            }
        }
    }

    section#blog {
        div.wrapper {
            ul.container {
                max-width: 90%;
                grid-template-columns: 1fr;
                li.blog_post {
                    div.img_container {
                        height: auto;
                    }
                }
            }
        }
    }
}

@media all and(max-width: 500px) {
    section#blog {
        div.wrapper {
            ul.container {
                max-width: 100%;
            }
        }
    }
}