@font-face {
  font-family: 'GT-Eesti';
  src: url("../fonts/GT-Eesti-Pro-Text-Light.woff2") format("woff2");
  src: url("../fonts/GT-Eesti-Pro-Text-Light.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GT-Eesti';
  src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff2") format("woff2");
  src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GT-Eesti';
  src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff2") format("woff2");
  src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'GT-Eesti';
  src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff2") format("woff2");
  src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@-webkit-keyframes nav-animation {
  0% {
    top: -100%;
  }
  100% {
    top: 0px;
  }
}

@keyframes nav-animation {
  0% {
    top: -100%;
  }
  100% {
    top: 0px;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

ol, ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #000;
  background: #f4f6f8;
  overflow-x: hidden;
  min-width: 320px;
  font-weight: 500;
}

input, textarea, select {
  font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

a {
  color: #000;
}

a:hover {
  opacity: .8;
}

p {
  line-height: 1.6em;
  font-size: 16px;
  font-family: "GT-Eesti", Arial;
  font-weight: 500;
  color: #000;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

::-webkit-input-placeholder {
  color: #9B9B9B;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #9B9B9B;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #9B9B9B;
  opacity: 1;
}

::placeholder {
  color: #9B9B9B;
  opacity: 1;
}

::-moz-selection {
  background: #7f71ff;
  color: #fff;
}

::selection {
  background: #7f71ff;
  color: #fff;
}

/** Add Style **/
.ad {
  width: 40%;
  margin: 20px auto;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.06);
          box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.06);
}

.ad a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

/** ====================== Styles ====================== **/
header {
  width: 100%;
}

header div.top {
  padding: 10px;
  background: #272727;
}

header div.top h1.logo {
  width: 2rem;
  margin: 0 auto;
}

header div.top h1.logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div.top h1.logo a img {
  display: inline-block;
  width: 100%;
  margin-right: 5px;
}

header div.top h1.logo a span {
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

header nav {
  background: #fff;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background: #fafafa;
}

header nav ul li {
  padding: 5px 15px;
  border-radius: 3px;
}

header nav ul li a {
  color: #838eab;
  margin: 3px;
  font-weight: 400;
  letter-spacing: .5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header nav ul li:hover, header nav ul li:first-child {
  background: rgba(0, 0, 0, 0.03);
  color: #534f75;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
}

header nav.fix_nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.15);
  z-index: 3;
  -webkit-animation: nav-animation .3s;
          animation: nav-animation .3s;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

section#blog div.wrapper ul.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

section#blog div.wrapper ul.container li.blog_post {
  padding: 20px;
  background: #fff;
  margin: 20px;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
}

section#blog div.wrapper ul.container li.blog_post div.img_container {
  position: relative;
  width: 100%;
  min-height: 185px;
  overflow: hidden;
  border-radius: 5px;
}

section#blog div.wrapper ul.container li.blog_post div.img_container img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

section#blog div.wrapper ul.container li.blog_post div.img_container span.category {
  display: block;
  color: #fff;
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 2px 10px;
  font-size: 0.9rem;
  background: #6e5eff;
}

section#blog div.wrapper ul.container li.blog_post div.content h3 a {
  display: block;
  text-transform: capitalize;
  font-weight: 600;
  color: #20232b;
  margin: 10px 0;
  line-height: 25px;
}

section#blog div.wrapper ul.container li.blog_post div.content div.post_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#blog div.wrapper ul.container li.blog_post div.content div.post_info span {
  font-size: .8rem;
}

section#blog div.wrapper ul.container li.blog_post div.content div.post_info span.tag {
  padding: 3px 6px;
  color: #484f61;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.06);
}

section#blog div.wrapper ul.container li.blog_post div.content div.post_info span.time {
  margin-left: 10px;
  color: #db3838;
  font-weight: 600;
}

section#blog div.wrapper ul.container li.blog_post div.content div.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

section#blog div.wrapper ul.container li.blog_post div.content div.author img {
  display: block;
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
  overflow: hidden;
}

section#blog div.wrapper ul.container li.blog_post div.content div.author span.tool_tip {
  color: #6e5eff;
  font-size: 0.8rem;
  letter-spacing: .5px;
  font-weight: 600;
  margin-left: 10px;
}

footer {
  padding: 20px;
  margin: 10px 0 0;
  background: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

footer p {
  color: #131313;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

footer ul li {
  display: inline-block;
}

footer ul li a {
  padding: 0 10px;
  color: #20232b;
}

footer ul li a:hover {
  color: #6e5eff;
  -webkit-transform: all linear .3s;
          transform: all linear .3s;
}

/** ====================== Media Queries ====================== **/
@media all and (max-width: 1280px) {
  section#blog div.wrapper ul.container {
    max-width: 1000px;
  }
  section#blog div.wrapper ul.container li.blog_post div.img_container {
    min-height: auto;
    height: 170px;
  }
}

@media all and (max-width: 980px) {
  .ad {
    width: 60%;
  }
  section#blog div.wrapper ul.container {
    max-width: 100%;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 640px) {
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 70px;
    position: relative;
    padding: 0 20px;
  }
  header nav ul {
    display: none;
  }
  section#blog div.wrapper ul.container {
    max-width: 90%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  section#blog div.wrapper ul.container li.blog_post div.img_container {
    height: auto;
  }
}

@media all and (max-width: 500px) {
  section#blog div.wrapper ul.container {
    max-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */