@font-face {
  font-family: 'GT-Eesti';
  src: url("../fonts/GT-Eesti-Pro-Text-Light.woff2") format("woff2");
  src: url("../fonts/GT-Eesti-Pro-Text-Light.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GT-Eesti';
  src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff2") format("woff2");
  src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GT-Eesti';
  src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff2") format("woff2");
  src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'GT-Eesti';
  src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff2") format("woff2");
  src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #000;
  overflow-x: hidden;
  min-width: 320px;
  font-weight: 500;
}

ol, ul {
  list-style: none;
}

a {
  color: #000;
}

a:hover {
  opacity: .8;
}

p {
  line-height: 1.6em;
  font-size: 16px;
  font-family: "GT-Eesti", Arial;
  font-weight: 500;
  color: #000;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

section#container {
  padding: 15px 9% 100px;
}

section#container ul.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(270px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-gap: 20px;
}

section#container ul.cards li.card {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

section#container ul.cards li.card div.img_container {
  width: 100%;
}

section#container ul.cards li.card div.img_container img {
  display: block;
  width: 100%;
}

section#container ul.cards li.card div.content {
  font-size: 0.9em;
  padding: 15px;
  background: #fafafa;
}

section#container ul.cards li.card div.content h3 {
  font-size: 1.3em;
  font-weight: 500;
}

section#container ul.cards li.card div.content p {
  line-height: 1.5;
}

section#container ul.cards li.card div.info {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #eee;
  border-bottom: 2px solid #ccc;
}

section#container ul.cards li.card div.info span {
  display: block;
  font-size: 0.8em;
  color: #555;
}

section#container ul.cards li.card div.info span i {
  font-size: 0.9em;
  margin-right: 8px;
}

section#container ul.cards li.card div.info span a {
  color: #64968c;
}

section#container ul.cards li.card div.info span a:hover {
  text-decoration: underline;
}

@media all and (max-width: 768px) {
  section#container {
    padding: 20px;
    padding-bottom: 100px;
  }
}
/*# sourceMappingURL=style.css.map */