@import "../css/font";

* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	box-sizing: border-box;
    transition: all 0.2s linear;
}

html {
    scroll-behavior: smooth;
}

body {
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #000;
    // background: #303032;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
}

ol, ul {
    list-style: none;
}

a {
	color: #000;
    &:hover {
        opacity: .8;
    }
}

p {
	line-height:1.6em;
	font-size: 16px;
	font-family: "GT-Eesti", Arial;
	font-weight: 500;
	color: #000;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1200px;
}

section#container {
    padding: 15px 9% 100px;
    ul.cards {
        display: grid;
        // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        // grid-template-columns: repeat(auto-fit, minmax(10rem, 25rem));
        // grid-template-columns: repeat(auto-fit, minmax(270px ,1fr)); // kollam
        grid-template-columns: repeat(auto-fit, minmax(270px ,1fr));
        grid-gap: 20px;
        li.card {
            box-shadow: 0 0 3px rgba(0,0,0,.1);
            div.img_container {
                width: 100%;
                img {
                    display: block;
                    width: 100%;
                }
            }
            div.content {
                font-size: 0.9em;
                padding: 15px;
                background: #fafafa;
                h3 {
                    font-size: 1.3em;
                    font-weight: 500;
                }
                p {
                    line-height: 1.5;
                }
            }
            div.info {
                padding: 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: #eee;
                border-bottom: 2px solid #ccc;
                span {
                    display: block;
                    font-size: 0.8em;
                    color: #555;
                    i {
                        font-size: 0.9em;
                        margin-right: 8px;
                    }
                    a {
                        color: #64968c;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

@media all and(max-width: 768px) {
    section#container {
        padding: 20px;
        padding-bottom: 100px;
    }
}